.hide {
    display: none;
}
.button {
    position: relative;
    width: 12.5rem;
    text-align: center;
    padding:26px 8px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    font-weight: 300;
    text-transform: uppercase;
    overflow: hidden;
    font-family: poppins;
    font-size:20px;
    opacity: .8;
    margin: 20px;
    cursor: pointer;
    transition: all .4s ease;
    display: flex;
    justify-content: center;
}
.button:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #54d98c;
}
.button span {
    position: absolute;
    line-height: 0;
}
.button span i {
    transform-origin: center center;
}
.button span:nth-of-type(1) {
    top: 50%;
    transform: translateY(-50%);
}
.button span:nth-of-type(2) {
    top: 100%;
    transform: translateY(0%);
    font-size: 24px;
}
.button span:nth-of-type(3) {
    display: none;
}
.active {
    background-color: #2ecc71;
}
.active:before {
    width: 100%;
    transition: width 3s linear;
}
.active span:nth-of-type(1) {
    top: -100%;
    transform: translateY(-50%);
}
.active span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}
.active span:nth-of-type(2) i {
    animation: loading 500ms linear infinite;
}
.active span:nth-of-type(3) {
    display: none;
}
.finished {
    background-color: #54d98c;
}
.finished .submit {
    display: none;
}
.finished .loading {
    display: none;
}
.finished .check {
    display: block !important;
    font-size: 24px;
    animation: scale 0.5s linear;
}
.finished .check i {
    transform-origin: center center;
}
@keyframes loading {
    100% {
        transform: rotate(360deg);
   }
}
@keyframes scale {
    0% {
        transform: scale(10);
   }
    50% {
        transform: scale(0.2);
   }
    70% {
        transform: scale(1.2);
   }
    90% {
        transform: scale(0.7);
   }
    100% {
        transform: scale(1);
   }
}
