.row{
	margin-left:0px;
	margin-right:0px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
	scroll-behavior: smooth;
	background-color:black;
	text-align:initial;
	font-family: "Poppins", Arial, sans-serif;
    background: #000000;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
	overflow-x:hidden;
}

/*-------------PRELOADER----------------*/
:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--themeTrans: 0.3s;
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

main {
	padding: 1.5em 0;
}

.pl {
	width: 11em;
	height: 10em;
}
.pl__ring,
.pl__worm1,
.pl__worm2,
.pl__worm3 {
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
.pl__ring {
	stroke: hsla(var(--hue),10%,10%,0.1);
	transition: stroke var(--themeTrans);
}
.pl__worm1 {
	animation-name: worm1;
}
.pl__worm2 {
	animation-name: worm2;
	transform-origin: 32px 88px;
}
.pl__worm3 {
	animation-name: worm3;
	transform-origin: 144px 88px;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
	.pl__ring {
		stroke: hsla(var(--hue),10%,90%,0.1);
	}
}

/* Animations */
@keyframes worm1 {
	from {
		animation-timing-function: ease-out;
		stroke-dashoffset: 43.98;
	}
	12.5% {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: -131.95;
	}
	25% {
		animation-timing-function: ease-in;
		stroke-dashoffset: 0;
	}
	37.5%,
	50% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -175.93;
	}
	62.5% {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: 0;
	}
	75% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -131.95;
	}
	87.5%,
	to {
		stroke-dashoffset: 43.98;
	}
}
@keyframes worm2 {
	from,
	35.5% {
		animation-timing-function: linear;
		stroke-dasharray: 0 40 0 44;
		visibility: hidden;
		transform: translate(0,0) rotate(0);
	}
	37.5% {
		animation-timing-function: ease-out;
		stroke-dasharray: 0 40 44 0;
		visibility: visible;
		transform: translate(0,0) rotate(0);
	}
	47.5% {
		animation-timing-function: ease-in;
		stroke-dasharray: 0 4 40 40;
		visibility: visible;
		transform: translate(0,-80px) rotate(360deg);
	}
	50% {
		animation-timing-function: linear;
		stroke-dasharray: 0 4 40 40;
		visibility: visible;
		transform: translate(0,-36px) rotate(360deg);
	}
	52.5%,
	to {
		stroke-dasharray: 0 42 0 42;
		visibility: hidden;
		transform: translate(0,12px) rotate(360deg);
	}
}
@keyframes worm3 {
	from {
		animation-timing-function: linear;
		stroke-dasharray: 0 4 40 40;
		visibility: visible;
		transform: translate(0,-36px) rotate(0);
	}
	2.5% {
		animation-timing-function: linear;
		stroke-dasharray: 0 42 0 42;
		visibility: hidden;
		transform: translate(0,12px) rotate(0);
	}
	85.5% {
		animation-timing-function: linear;
		stroke-dasharray: 0 40 0 44;
		visibility: hidden;
		transform: translate(0,0) rotate(0);
	}
	87.5% {
		animation-timing-function: ease-out;
		stroke-dasharray: 0 40 44 0;
		visibility: visible;
		transform: translate(0,0) rotate(0);
	}
	97.5% {
		animation-timing-function: ease-in;
		stroke-dasharray: 0 4 40 40;
		visibility: visible;
		transform: translate(0,-80px) rotate(-360deg);
	}
	to {
		stroke-dasharray: 0 4 40 40;
		visibility: visible;
		transform: translate(0,-36px) rotate(-360deg);
	}
}
.load {
    background: white;
    width: 100%;
    height: 100%;
	z-index:9999999999;

}
.load main {
    padding: 30%;
}
/*-------------PRELOADER----------------*/
/*-------------NAVBAR----------------*/

.navbar-black .navbar-toggler {
    color: rgb(139 219 172);
    border-color: rgb(0 0 0);
}
.navbar-black .navbar-brand {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 21px;
}
.navbar-black.navbar-brand:hover{
	color: #ffbd39;
}
/*.sticky-top{
	position:fixed;
	top:0;
	width:100%;
}*/
ul.navbar-nav {
    margin-left: auto;
}
.navbar-black .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-family: 'Poppins';
}
#collapsibleNavbar ul li a:hover{
	    color: #ffbd39;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked +408 .menu__btn > span {
  transform: rotate(45deg);
  background-color:#ffbd39;
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
   background-color:#ffbd39;
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
   background-color:#ffbd39;
}

.menu__btn {
    position: fixed;
    top: 26px;
    width: 24px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    right: 15px;
}
.menu__btn  span,
.menu__btn  span::before,
.menu__btn span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(132 127 127);
  transition-duration: .25s;
}
.menu__btn  span::before {
  content: '';
  top: -8px;
}
.menu__btn  span::after {
  content: '';
  top: 8px;
}
.navbar-brand .navbar-white .navbar-toggler .menu__btn .menu__toggle:hover{
	    background-color: #ffbd39;
}
.navbar-toggler {
    padding: 10px;
    font-size: 114.25rem;
    line-height: 3;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}
.navbar-nav .nav-item  .nav-link span {
      position: relative;
      display: block;
      padding-bottom: 2px; }
      @media (max-width: 1199.98px) {
       .navbar-nav  .nav-item  .nav-link span {
          display: inline-block; } }
      .navbar-nav  .nav-item  .nav-link span:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background: #ffbd39;
        visibility: visible;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
    .navbar-nav  .nav-item  .nav-link:hover span:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1); }
.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #ffbd39;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
    scroll-behavior: smooth;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #ffbd39;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}
#homesection i {
    color: white;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translate(-50%, -50%);
}
/*-------------NAVBAR----------------*/
/*-------------HERO SECTION----------------*/

.header{
	background-image:url('../assets/images/hero.jpg');
	background-color:000;
	width:100%;
	height:100vh;
	background-position:center;
	background-size:cover;
}
.text .subheading{
	font-weight:600;
	font-size:14px;
	letter-spacing:3px;
	text-transform:uppercase;
	color:black;
} 
.text .sub {
    color: #ffbd28;
    text-align: center;
    margin-bottom: 1.5rem!important;
    font-size: 35px;
}
.text h1 {
    color: #ffff;
    text-align: center;
    margin-top: 13%;
	font-size: 36px;
}
.text p {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: #ffac19;
    margin-top: 0;
    margin-bottom: 1rem;
	text-shadow: 2px 10px 37px black;
}

a.hir:hover{
	  background-color: #ffbd28;
	  color:black !important;
}
a.hir {
    text-decoration: none;
    border: 3px solid #ffbd28;
    color: #ffbd28;
    padding: 7px 16px;
    border-radius: 100px;
    font-size: 14px;
}
/*-------------HERO SECTION----------------*/
#aboutsection{
	text-align:center;
	background-color:black;
	position:relative;
	margin-top:0px;
}
#aboutsection h1.big {
    margin-top: 112px;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900;
}
#aboutsection h2 {
    margin-top: -124px;
    font-size: 50px;
    font-weight: 700;
    color: #ffff;
}

#aboutsection p {
    text-align: center;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    margin-top: 28px;
}
#aboutsection ul.about-info li span:first-child {
    text-align: initial;
    font-weight: 600;
    color: #fff;
    width: 130px;
    margin-top: 10px;
}
#aboutsection ul .about-info li span{
    font-family: "Poppins", Arial, sans-serif;
    background: #000000;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
}
#aboutsection span {
    margin-top: 10px;
    text-align: justify;
}
ul.about-info {
    margin-top: 107px;
}
a.dwn:hover{
	font-weight:600;
	  background-color: #ffbd28;
	  color:black !important;
}

a.dwn {
    margin-left: 26px;
    margin-top: 10px;
    text-decoration: none;
    border: 3px solid #ffbd28;
    color: #ffbd28;
    padding: 7px 16px;
    border-radius: 100px;
    font-size: 14px;
    position: absolute;
}
/*---------RESUME SECTION----------------*/
#resumesection h1.bigbig {
    margin-top: 112px;
    text-align:center;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900;
}

h2.bigbig2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    margin-top: -130px;
    text-align: center !important;
    margin-left: 444px;
}
.resumecontent p{
	text-align:center;
}
.resume-wrap {
  width: 100%;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .resume-wrap .date {
    font-weight: 900;
    font-size: 26px;
    color: #ffbd39; }
  .resume-wrap h2 {
    font-size: 26px; }
  .resume-wrap .position {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase; }
a.dwnld.py-4.px-5 {
    text-decoration: none;
    color: #ffbd39;
    border: 4px solid #ffbd39;
    border-radius: 67px;
}
a.dwnld:hover{
	font-weight:600;
	font-family: poppins;
	  background-color: #ffbd28;
	  color:black !important;
}
/*-------SERVICES SECTION----------------*/
#servicesection {
	margin-top:0px;
}
.servicebigbig {
    margin-top: 112px;
    text-align:center;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900;
}

h2.servicebigbig2 {
    text-align: center;
    color: #ffff;
    margin-top: -132px;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 67px;
}
.servicecontent p{
	text-align:center;
}

.services-1 {
	text-decoration:none;
  margin-bottom: 40px;
  padding: 2em;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  -webkit-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17); }
  .services-1 .icon {
    display: block;
    margin-bottom: 30px; }
    .services-1 .icon i {
      font-size: 60px;
      line-height: 1.0;
      color: #ffbd39; }
  .services-1 .desc h3 {
    line-height: 1.3;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    color: #fff; }
    .services-1 .desc h3:after {
	font-weight:600;
      position: absolute;
      bottom: -15px;
      left: 0;
      right: 0;
      content: '';
      width: 30px;
      height: 1px;
      background: #ffbd39;
      margin: 0 auto; }
    .services-1 .desc h3 a {
      color: #fff; }
  .services-1 .desc h4 {
    font-size: 20px;
    margin-bottom: 18px; }
  .services-1 .desc span {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
    color: #ffbd39; }
  .services-1:hover {
    background: #ffbd39; }
    .services-1:hover .icon i {
      color: #fff; }
    .services-1:hover h3 {
      color: #000000; }
      .services-1:hover h3:after {
        background: #000000; }
/*---------SKILL SECTION----------------*/
#skillsection {
	margin-top:10%;
	margin-left:0px;
	margin-right:0px;
}
.skillbigbig {
    margin-top: 10px;
    text-align:center;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900;
}

h2.skillbigbig2 {
    text-align: center;
    color: #ffff;
    margin-top: -132px;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 67px;
}
.skillcontent p{
	text-align:center;
}
.skills{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background:black;
}
.wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .card{
  background: #0e0c0c;
  width: calc(100% - 20px);
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper .card .circle{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
  color: black;
}
.card .circle .box,
.card .circle .box span{
  position: absolute;
  top: 50%;
  left: 50%;
}
.card .circle .box{
  height: 100%;
  width: 100%;
  background: #252525;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}
.card .circle:hover .box{
  transform: translate(-50%, -50%) scale(0.91);
}
.card .circle .box span,
.wrapper .card .text{
  background: #ffbd39;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #d3000000;
}
.circle .box span{
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}
.card .circle:hover .box span{
  transform: translate(-45%, -45%) scale(1.09);
}
.card .text{
  font-size: 20px;
  font-weight: 600;
}


/*------CONTACT SECTION----------------*/
#contactsection {
	margin-top:0px;
}
.contactbigbig {
   margin-top: 112px;
    text-align:center;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900;
}

h2.contactbigbig2 {
    text-align: center;
    color: #ffff;
    margin-top: -132px;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 67px;
}
.contactcontent p{
	text-align:center;
}
#contactsection .cntct .icon{
	text-align:center;
}
#contactsection .cntct h5{
	color:white;
}
#contact-section i.bi.bi-signpost-split-fill {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    margin-bottom: 2em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


#contact-section.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #ffbd39;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #ffbd39;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #ffbd39;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #ffbd39;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="submit"]:hover{
  background: #ffac19;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

/*--------FOOTER SECTION----------------*/
footer{
	margin-top:15px;
	position: relative;
	width: 100%;
  height: 246px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer h5{
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #ffbd39;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end footer p:nth-child(3){
	position: absolute;
	color:#ffff;
	bottom: 35px;
	font-size: 14px; 
}
.up i {
    font-size: 32px;
    color: #ffbd39;
}

.up {
    position: fixed;
    bottom: 30px;
    right: -70px;
    background-color: #ff;
    padding: 9px 0px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-out;
    width: 50px;
    height: 50px;
    border: 1px solid #1a1a1a;
    background-color: #1a1a1a;
    border-radius: 50%;
}

.up.show{
    right: 0px;
}
/*------CREDITS SECTION----------------*/
#credits {
    background-color: black;
    text-align: center;
    margin-top: 27px;
}
#credits:hover{
  color: #ffbd39;
}
/*--------WHITE MODE--------*/
.test section#aboutsection {
    background: white;
    color: black;
}
.test section#aboutsection h1.big{
	    color: rgb(22 16 16 / 22%);
}
.test section#aboutsection h2{
	color:black;
}
.test section#aboutsection p {
    text-align: initial;
    font-family: "Poppins", Arial, sans-serif;
    background: #fffdfd;
    font-size: 16px;
    line-height: 4.8;
    font-weight: 400;
    color: #999999;
}
.test section#aboutsection ul.about-info li span:first-child {
    text-align: initial;
    font-weight: 600;
    color: #000;
    width: 130px;
    margin-top: 10px;
}
.test .resume-wrap {
    width: 100%;
    margin-bottom: 30px;
    background: rgb(30 24 24 / 10%);
    padding: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.test section#resumesection h1.bigbig {
    margin-top: 112px;
    text-align: center;
    font-size: 7vw;
    color: rgb(5 4 4 / 10%);
    z-index: -1;
    font-weight: 900;
    font-family: poppins;
}
.test section#resumesection h2.bigbig2 {
    color: #000;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    margin-top: -130px;
    text-align: center !important;
    margin-left: 444px;
}
.test h2.servicebigbig2 {
    text-align: center;
    color: #000;
    margin-top: -132px;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 67px;
}
.test .servicebigbig {
    margin-top: 112px;
    text-align: center;
    font-size: 7vw;
    color: rgb(0 0 0 / 10%);
    z-index: -1;
    font-weight: 900;
    font-family: poppins;
}
.test .services-1 {
    text-decoration: none;
    margin-bottom: 40px;
    padding: 2em;
    background: rgb(5 5 5 / 10%);
    width: 100%;
    -webkit-box-shadow: 0px 20px 69px -27px rgb(0 0 0 / 17%);
    -moz-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 20px 69px -27px rgb(0 0 0 / 17%);
}
.test .services-1 .desc h3 {
    line-height: 1.3;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    color: #3e383896;
}
.test .skillbigbig {
    margin-top: 10px;
    text-align: center;
    font-size: 7vw;
    color: rgb(0 0 0 / 10%);
    z-index: -1;
    font-weight: 900;
    font-family: poppins;
}
.test h2.skillbigbig2 {
    text-align: center;
    color: #000;
    margin-top: -132px;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 67px;
}
.test .wrapper .card {
    background: #e5e5e5;
    width: calc(100% - 20px);
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0px 10px 15px rgb(0 0 0 / 10%);
}
.test .card .circle .box {
    height: 100%;
    width: 100%;
    background: #e5e5e5;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
}
.test .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background: white;
}

.test .contactbigbig {
    margin-top: 112px;
    text-align: center;
    font-size: 7vw;
    color: rgb(229 229 229);
    z-index: -1;
    font-weight: 900;
    font-family: poppins;
}
.test h2.contactbigbig2 {
    text-align: center;
    color: #000;
    margin-top: -132px;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 67px;
}
.test footer {
    margin-top: 15px;
    position: relative;
    width: 100%;
    height: 400px;
    background: #f0f1f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.test footer h5 {
    font-size: 30px;
    color: #141111;
    margin-bottom: 20px;
    font-weight: bold;
}
.test footer p:nth-child(2) {
    color: #bcbcbc;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.test section#credits {
    background-color: #ada9a9;
    text-align: center;
    padding: 20px;
}
.test .services-1:hover {
    background: #ffbd39; }
.test .services-1:hover .icon i {
      color: #fff; }
 .test .services-1:hover h3 {
      color: #000000; }
.test .services-1:hover h3:after {
        background: #000000; }
span.middle {
    color: #ffbd39;
}
		
/*=============RESPONSIVE=================*/
@media (max-width: 575px){
  img.bgg {
    width: 100%;
  }
  .container .content {
    flex-direction: column !important;
  }
  .container {
    height: auto !important;
  }
a.dwn {
    position: unset !important;
}
#homesection .menu__btn {
    position: absolute;
    top: 26px;
    width: 24px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.text h1 {
    color: #ffff;
    text-align: center;
    margin-top: 59%;
}
.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #ffbd39;
    position: absolute;
    left: 44%;
    bottom: 1px;
    border-radius: 50px;
    cursor: pointer;
    scroll-behavior: smooth;
}
#aboutsection h1.big {
    margin-top: 48px;
    font-size: 14vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900;
}
#aboutsection h2 {
    margin-top: -82px;
    font-size: 40px;
    font-weight: 700;
    color: #ffff;
}
ul.about-info {
    margin-top: 1px;
}
#resumesection h1.bigbig , .test #resumesection h1.bigbig{
    margin-top: 112px !important;
    text-align: center!important;
    font-size: 12vw !important;
    color: rgba(255, 255, 255, 0.1) !important;
    z-index: -1 !important;
    font-weight: 900 !important;
    font-family: poppins !important;
}
#resumesection h2.bigbig2 ,.test #resumesection h2.bigbig2 {
    color: #fff !important;
    font-size: 40px !important;
    font-weight: 700 !important;
    position: absolute !important;
    margin-top: -77px !important;
    text-align: center !important;
    margin-left: 84px !important;
}
#servicesection .servicebigbig {
    margin-top: 55px;
    text-align: center;
    font-size: 12vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900;
}
#servicesection h2.servicebigbig2 {
    text-align: center;
    color: #ffff;
    margin-top: -81px;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 67px;
}
#skillsection {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
}
.wrapper .card {
    margin-bottom: 28px;
    background: #0e0c0c;
    width: calc(100% - 20px);
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0px 10px 15px rgb(0 0 0 / 10%);
}
#skillsection .skillbigbig {
    margin-top: -39px;
    text-align: center;
    font-size: 12vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900;
}
#skillsection h2.skillbigbig2 {
    text-align: center;
    color: #ffff;
    margin-top: -78px;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 27px;
}
#skillsection .skills {
    display: block !important;
    align-items: center;
    justify-content: center;
    min-height: 0px;
    padding: 20px;
   
}
.contactbigbig {
    margin-top: 50px;
    text-align: center;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900;
}
h2.contactbigbig2 {
    text-align: center;
    color: #ffff;
    margin-top: -79px;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 67px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #ffbd39;
    text-align: center;
   }
   .content .right-side .topic-text p{
       text-align: center !important;
  }
#contactsection .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 0px;
    justify-content: center;
    flex-wrap: wrap;
}
.container .content .right-side {
    width: 100%;
    margin-right: 32px;
}
#contactsection.topic-text  p {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 26px;
}
form#submit-form {
    text-align: center;
    align-items: center;
    margin-left: 35px;
}
footer {
    position: relative;
    width: 100%;
    height: 248px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(2) {
    color: white;
	width: 300px;
    font-size: 17px;
    text-align: center;
    line-height: 26px;
}
footer h5 {
    font-size: 30px;
    color: white;
    margin-top: 39px;
    font-weight: bold;
}
.social a {
    width: 38px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffbd39;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

}
